@import "reset.css";
@import "variables.css";

h2, h3 {
    padding-top: .5rem;
}

article {
    background-color: #ffffff;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    color: var(--text);
    border-radius: .6rem;
    margin: 1rem;
}

.article-paragraphs-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem 0;
}

.article-paragraphs {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    flex-grow: 1;
}

.image-description {
    font-size: .875rem;
}

article picture {
    width: 100%;
}

article img {
    width: 100%;
    border-radius: .375rem;
}

.exhibition-image:not(:first-child) {
    padding-top: .5rem;
}

.see-more-btn {
    width: 250px;
    height: 35px;
    background-color: var(--primary);
    border-radius: .5rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.125rem;
    margin: .5rem;
    justify-self: center;
    align-self: center;
}

.see-more-btn:hover, .see-more-btn:focus {
    background-color: var(--primaryActive);
}

@media screen and (min-width: 900px) {
    .article-paragraphs-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 32px;
    }

}
