@import "variables.css";
@import "reset.css";

/*Here are styles for event and exhibition sections on events.html and exhibitions.html*/
main {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ev-ex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 1400px;
}

h2 {
    align-self: start;
}

.ev-ex-card {
    border-radius: 6px;
    border: 1px solid var(--border);
    overflow: hidden;
}

.ev-ex-info {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.ev-ex-image-container {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.ev-ex-image-container img {
    height: 100%;
    position: absolute;
}

@media screen and (min-width: 770px) {

    .ev-ex-container {
        gap: 2rem;
    }

    .ev-ex-card {
        height: fit-content;
        display: flex;
    }

    .ev-ex-info {
        width: 60%;
    }

    .ev-ex-card:nth-child(even) {
        flex-direction: row-reverse;
    }

    .ev-ex-card:nth-child(odd) {
        flex-direction: row;
    }

    .ev-ex-image-container {
        width: 40%;
        height: 350px;
    }

}

@media screen and (min-width: 1440px) {

    header {
        overflow: hidden;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
    }
}
