@import "css/constants.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-image: url("../assets/images/mobile/banner.png");
    background-size: 100%;
    background-position-y: 80%;
    height: 180px;
}

.header-shadow {
    background-color: rgba(0, 0, 0, 30%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    margin: 8px;
}

nav {
    display: flex;
    justify-content: space-between;
}

h1 {
    color: white;
    font-family: inter, serif;
    font-size: 24px;
    font-weight: 600;
    margin: 8px 16px;
}

.banner-img {
    width: 100vw;
    height: 180px;
}

.hamburger {
    height: 32px;
    width: 32px;
    border-radius: 6px;
    margin: 16px;
}

.closeIcon {
    display: none;
}
