@import "css/constants.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

header {
    width: 100%;
    background-image: url("");
    background-size: 100%;
    background-position-y: 80%;
    height: 180px;
}

.header-shadow {
    background-color: rgba(0, 0, 0, 30%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    margin: 8px;
}

nav {
    display: flex;
    justify-content: space-between;
}

h1 {
    color: white;
    font-family: inter, serif;
    font-size: 24px;
    font-weight: 600;
    margin: 8px 16px;
}

.banner-img {
    width: 100vw;
    height: 180px;
}

#toggleBtn {
    height: 32px;
    width: 32px;
    border-radius: 6px;
    right: 16px;
    top: 8px;
    position: absolute;
    z-index: 20;
}

#menu{
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 10;
}

.closeIcon {
    display: none;
}
