@import "variables.css";

header {
    width: 100%;
    background-image: url("../assets/images/mobile/Banner.png");
    background-size: 100%;
    background-position-y: 80%;
    height: 180px;
}

.header-shadow, .menu-shadow {
    background-color: rgba(0, 0, 0, 30%);
    height: 100%;
    width: 100%;
}

.header-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.logo {
    margin: 8px;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 30;
}

.desktop-nav {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover, a:focus {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

h1 {
    color: white;
    font-family: inter, serif;
    font-size: 24px;
    font-weight: 600;
    margin: 8px 16px;
}

.banner-img {
    width: 100vw;
    height: 180px;
}

#toggleBtn {
    height: 32px;
    width: 32px;
    border-radius: 6px;
    right: 16px;
    top: 8px;
    position: absolute;
    z-index: 20;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 80%);
}

#closeIcon {
    display: none;
}

#menu {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 10;
    background-image: url("../assets/images/mobile/menu-bg.png");
    background-size: 100%;
}

.menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    font-size: 30px;
    font-family: inter, serif;
    color: white;
}

.menu-content ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.menu-content li {
    list-style-type: none;
}

@media screen and (min-width: 900px) {

    header {
        background-image: url("../assets/images/mobile/Banner.png");
        background-size: 100%;
        background-position-y: 80%;
        height: 600px;
    }

    .header-content {
        justify-content: space-between;
    }

    .logo {
        width: 245px;
        height: 104px;
    }

    h1 {
        font-size: 4rem;
    }

    #toggleBtn {
        display: none;
    }

    .desktop-nav {
        display: block;
        width: 100%;
        font-size: 24px;
    }

    .desktop-nav ul {
        display: flex;
        gap: 24px;
        flex-direction: row;
        list-style-type: none;
        padding: 24px 0 0 340px;
    }

}
