@import "reset.css";
@import "variables.css";

main {
    padding: 0 1rem;
}

.info-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}

.ticket-info-card, .hours-info-card, .info-card {
    background-color: #ffffff;
    color: var(--text);
    height: fit-content;
    padding: 8px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 6px;
}

.info-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hours, .price {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
}

#OSM-map {
    height: 350px;
    width: 100%;
    border-radius: 6px;
    z-index: 10;
}


@media screen and (min-width: 900px) {

    h2 {
        font-size: 30px;
    }

    .event-card, .exhibition-card {
        height: 350px;
    }

    .events-container, .exhibitions-container {
        flex-direction: row;
    }

    .info-section {
        flex-direction: row;
    }

    .ticket-info-card {
        height: inherit;
    }
}
