@import "reset.css";
@import "variables.css";

.booking-section {
    background-color: #ffffff;
    width: 100%;
    border-radius: .375rem;
    padding: .5rem;
    display: grid;
    flex-direction: column;
}

.booking-section form {
    display: grid;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.booking-section form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    align-self: center;
}

.booking-section form label {
    padding-top: 1rem;
}

.booking-section form input, .booking-section textarea, .booking-section select {
    max-width: 500px;
    border-radius: 6px;
    border: 1px solid var(--border);
    margin-top: .5rem;
    padding: .25rem;
}

.booking-section span {
    font-size: 14px;
}

.booking-section span,
.booking-section h3,
.booking-section p,
.booking-section input,
.booking-section label,
.booking-section span {
    color: var(--text);
}

.booking-section textarea {
    height: 150px;
    resize: none;
}

.booking-section button {
    margin: 1.5rem 0;
    font-size: 1rem;
    border: none;
    width: 50%;
    height: 30px;
    background-color: #2E5CFF;
    color: var(--textWhite);
    border-radius: .375rem;
    align-self: center;
}

.booking-section button:hover, .booking-section button:focus {
    background-color: var(--primaryActive);
    border: #ffffff;
}

@media screen and (min-width: 900px){

.booking-section form{
    grid-template-columns: 1fr 1fr;
}
    .booking-section form div {
        align-self: baseline;
        justify-self: center;
    }
}
