:root {
    --primary: #370051;
    --secondary: ;
    --tertiary: ;
    --primaryActive: #4C0070;
    --secondaryActive: ;
    --tertiaryActive: ;
    --text: #393939;
    --textWhite: #ffffff;
    --border: #494949;
}
